:global(.cursor) {
  cursor: pointer;
}

.radio_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding: 11px 20px;
  position: relative;
}

.radio_info {
  display: flex;
  flex-direction: column;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}


.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.text {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.price {
  width: 28px;
}

.period,
.price {
  font-size: 12px;
  line-height: 16px;
}

.radio_border_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type='radio']~.radio_border_box {
  border: 1px solid #F0F0F5;
  border-radius: 4px;
}

input[type='radio']:checked~.radio_border_box {
  border: 1px solid #2A2A2A;
  border-radius: 4px;
}

.hidden {
  display: none;
}